@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
    /* this is avariable we can use when ever */
    --background: rgba(0, 214, 170, .5);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}



.imageLogo {
    display: flex;
    align-items: center;
    align-content: center;
    /* border: 1px solid red; */
    margin-left: 1em;
    justify-content: center;
}



.imageLogo #pageTitle {
    /* border: 1px solid red; */
    font-size: 30px;
    margin: 0px 0px 5px 10px;
    /* margin-top: -5px; */
    color: white;
    /* line-height: -88em; */
}

.imageLogo #captionTitle {
    font-size: 20px;
    margin-top: -1px;
    color: rgb(152, 152, 216);
}

.imageLogo #phoneTitle {
    margin-top: -20px;
    font-size: 16px;
    color: rgba(255, 0, 0, 0.78)
}

/* Creating the Content Style */

.content {
    height: 200vh;
    background-image: url(/images/bg1.jpg);
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    /* Creating a background effect, uncomment  the line below to enable the effect */
    background-blend-mode: multiply;
    display: grid;
    place-items: center;
    /* overflow: hidden; */
}

/* Creating the navigation styles */

header {
    /* background: var(--background); */

    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    /* height: 25vh; */
    /* overflow: hidden; */
    /* padding-top: 30px; */

}


/* Disablig the check box */
.nav-toggle {
    display: none;
}

.black {
    background: #0000;
    z-index: 9999;
}

.nav-toggle-label {
    position: absolute;
    top: 2vh;
    right: 1vh;
    /* left: 0; */
    /* margin-right: 1em; */
    /* margin-bottom: 20rem; */
    /* border: 1px solid red; */
    height: 50%;
    display: flex;
    align-items: center;
    /* border: 1px solid yellow; */
    /* padding: 0; */
}


/* Creating the menu icon */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: whitesmoke;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}


.nav-toggle-label span::before {
    float: right;
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


.imageLogo img {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 25vh;
    height: auto;

}



#logo {
    margin: 6px 0 5px 0;
    /* height: auto; */
    /* width: 100%; */
}


nav {
    position: absolute;
    text-align: right;
    /* making the nav menu to be 100% away from the top which is where the logo section is */
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    /* display: none; */
    transform: scale(1, 0);
    /* Making the transformation happen from the top of the nav */
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.black ul {
    z-index: 2;
    background: white;
}

nav li {
    margin-bottom: 1.2em;
    margin-right: 1.2em;
    /* text-align: center; */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    /* reducing the transition for the nav a */
    transition: opacity 150ms ease-in-out;
}

/* creating the hover effect when the a-tag which contains the link for each list item is HOVERED */
nav a:hover {
    color: #000;
}


/* creating a CSS toggle action */
/* Note: The `~` looks for any preceeding/upcomming sibling. It does NOT have to imeediately after it. */

.nav-toggle:checked~nav {
    display: block;
    transform: scale(1, 1);
    overflow: none;
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}



@media screen and (max-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
        /* margin-top: 33px; */
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        grid-column: 3 / 4;
    }

    .imageLogo #pageTitle {
        /* border: 1px solid red; */
        margin-top: -22px;
        font-size: 20px;
        margin-top: -3px;
        /* color: white; */
        /* line-height: -88em; */
    }


    .imageLogo #captionTitle {
        /* border: 2px solid blue; */
        font-size: 15px;
        margin-top: -15px;
        /* line-height: -2em; */
    }

    .imageLogo #phoneTitle {
        margin-top: -10px;
        font-size: 16px;
        display: inline-table;
        /* color: rgba(255, 0, 0, 0.78); */
    }

    .imageLogo {
        padding-top: 10px;
    }
}