body {
    margin: 0;
    padding: 0;
    background: #b568cc;

}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid wheat;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}